@media screen and (max-width:575px) {




    .nav-container,
    .nav-menu,
    .banner-container,
    .play-instant,
    .play-container,
    .online-game-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .banner-contetnt-left {
        /* padding-bottom: 20px; */
        background-image: none;
    }

    .play-img {
        margin-left: 100px;
    }

    .onlineimg img {
        width: 40%;
    }

    .onlineimg {
        bottom: 140px;
        right: 50px;
    }

    .game-category-container {
        grid-template-columns: repeat(3, 1fr);
        width: 90%;
        padding: 120px 0px;
        transform: scale(0.6);
        margin: auto;

    }

    .img2 {
        margin-top: 80px;
    }

    .play-container {
        margin-top: 160px;
    }

    .list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }

    .terms {
        display: grid;
        grid-template-columns: repeat(2, 1fr);

    }

    .online-img {
        margin-left: 100px;
    }

    /* .category{
        width: 80%;
    } */
    footer {
        padding: 0;
    }

    .footer-container {
        transform: scale(0.7);
    }

}





@media screen and (min-width:575px) and (max-width:992px) {

    .nav-container,
    .nav-menu,
    .banner-container,
    .play-instant,
    .play-container,
    .online-game-container {
        flex-direction: column;
    }

    .banner-contetnt-left {
        padding-bottom: 20px;
        background-image: none;
    }

    .play-img {
        margin-left: 100px;
    }

    .onlineimg img {
        width: 40%;
    }

    .onlineimg {
        bottom: 140px;
        right: 50px;
    }

    .game-category-container {
        grid-template-columns: repeat(3, 1fr);
        width: 90%;
        padding: 120px 0px;
        transform: scale(0.6);
        margin: auto;

    }

    .img2 {
        margin-top: 80px;
    }

    .play-container {
        margin-top: 160px;
    }

    .online-img {
        margin-left: 100px;
    }


    .footer-container {
        transform: scale(0.7);
    }

}