.color-pink {
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.nav-container,
.nav-logo,
.follow-us,
.nav-menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-logo img {
    margin-right: 20px;
}

.nav-menu,
.follow-us {
    list-style: none;
    gap: 32px;
}

.nav-container a {
    text-decoration: none;
    color: #3C354F;
    font-size: 18px;
    font-weight: 500;
}

.follow-us {
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding: 17px 24px;
}

/* banner */

.banner-contetnt-left h3 {
    color: #0B0223;
    text-align: center;
    font-family: Work Sans;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    margin-bottom: 0px;
}

.banner-contetnt-left h1 {
    text-align: center;
    font-family: Work Sans;
    font-size: 95px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 24px;
}

.banner-contetnt-left p {
    margin-bottom: 17px;
    color: #534C64;
    font-family: Work Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.btn-1 {
    border-radius: 48px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    padding: 20px 40px;
    border: 0;
    color: #ffff;
}

.btn-2 {
    background: #4EC5F7;
}

.banner-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* text-align: center; */
}

.banner-contetnt-left{
    background-image: url("./images/Group\ 14.png");
    /* padding: 140px 290px 140px 240px; */
    width: 80%;
    /* transform: scale(0.7); */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 100px;
}

.banner-img img{
    width: 80%;
    /* transform: scale(0.7); */
}

.banner-description{
    margin: auto;
}



/* play instant */

.play-container {

    display: flex;
    justify-content: space-around;
    align-items: center;
    /* margin-top: 120px; */
    /* padding: 0px 240px; */


}
.play-container-content{
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}

.play {
    color: #0B0223;
    font-size: 48px;
    margin-bottom: 24px;
    font-weight: 700;
    line-height: 60px;
}

.play-img {
    width: 100%;
}
.online-p2 {
    color: #534C64;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    /* width: 100%; */
}

.onlineimg {
    position: relative;
    bottom: 190px;
    right: 100px;
    border-radius: 8px;
    /* width: 100%; */
    
}

.onlineimg img{
    width: 30%;
}
.img2{
    width: 75%;
    margin-top: 180px;
}

/* category */

.category{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.category img{
    width: 50px;
    margin-right: 16px;
}

.game-category-container{
    /* width: 100%; */
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 37px;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}