@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700;800;900&display=swap');



body {
    font-family: 'Work Sans', sans-serif;
    /* background-color: red; */
}


.color-pink {
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.nav-container,
.nav-logo,
.follow-us,
.nav-menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-logo img {
    margin-right: 20px;
}

.nav-menu,
.follow-us {
    list-style: none;
    gap: 32px;
}

.nav-container a {
    text-decoration: none;
    color: #3C354F;
    font-size: 18px;
    font-weight: 500;
}

.follow-us {
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding: 17px 24px;
}

/* banner */

.banner-contetnt-left h3 {
    color: #0B0223;
    text-align: center;
    font-size: 48px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 0px;
}

.banner-contetnt-left h1 {
    font-size: 95px;
    font-weight: 800;
    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 24px;
    padding-top: 0;
}

.banner-contetnt-left p {
    margin-bottom: 17px;
    color: #534C64;
    font-size: 20px;
    font-weight: 500;
}

.btn-1 {
    border-radius: 48px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    padding: 20px 40px;
    border: 0;
    color: #ffff;
    cursor: pointer;
}

.btn-2 {
    background: #4EC5F7;
}

.banner-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* text-align: center; */
}

.banner-contetnt-left {
    background-image: url("./images/Group\ 14.png");
    /* padding: 140px 290px 140px 240px; */
    width: 80%;
    background-repeat: no-repeat;
    /* transform: scale(0.7); */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 100px;
}

.banner-img img {
    width: 100%;
    /* transform: scale(0.7); */
}

.banner-description {
    margin: auto;
}

/* card */

.Online-games {
    margin-top: 100px;
    margin-bottom: 120px;
}

.Online-games-title {
    color: #0B0223;
    font-size: 48px;
    font-weight: 700;
    text-align: center;
}

.funny {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
}

.online-description {
    color: #534C64;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 48px;
}

.online-game-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 24px;
    transform: scale(0.7);

}

.card-p {
    display: flex;
    justify-content: space-between;

}

.description2 {
    width: 244px;
    color: #534C64;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
}

.play-icon {
    width: 48px;
    height: 48px;


}

.hoverimg {
    position: relative;

}

/* .hover-img {} */

.img-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.25s;

}

.img-overlay>* {
    transform: translateY(20px);
    transition: transform 0.25s;

}

.img-overlay:hover {
    cursor: pointer;
    opacity: 1;
}

.img-overlay:hover>* {
    transform: translateY(0);
}

.img-description {
    font-size: 20px;
    font-weight: 600;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}



/* play instant */

.play-container {

    display: flex;
    justify-content: space-around;
    align-items: center;
    /* margin-top: 120px; */
    /* padding: 0px 240px; */
    max-height: 600px;
    /* margin: 120x auto; */



}

.play-title {
    color: #0B0223;
    font-size: 48px;
    margin-bottom: 24px;
    font-weight: 700;
    line-height: 60px;
    text-align: right;
}

.new-color {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
}

.play-container-content {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

 


.online-p2 {
    color: #534C64;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    /* width: 100%; */
}

.onlineimg {
    position: relative;
    bottom: 110px;
    right: 60px;
    border-radius: 8px;
    /* width: 100%; */

}

.play-img2 img {
    width: 30%;
}

.img2 {
    width: 75%;
    margin-top: 180px;
}

/* category */

.category {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.category:hover {
    border-radius: 50px;
    border: 2px solid purple;
}

.category img {
    width: 50px;
    margin-right: 16px;
}

.game-category-container {
    /* width: 100%; */
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 37px;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    padding: 100px 240px 130px 240px;
    /* transform: scale(0.7); */
}

footer {
    background: #0B0223;
    color: #fff;
    text-align: center;
    padding: 130px 0px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;


}

.footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;


}

.logo h3 {
    text-align: center;
    font-family: Work Sans;
    font-size: 45px;
    font-weight: 700;
}

.list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    list-style: none;
    margin-top: 56px;
    width: 100%;
}

.terms {
    margin-bottom: 24px;
}



.text-gray {
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-size: 16px;
    font-weight: 500;
}

.fotter-button :hover {
    cursor: pointer;
}